extends layout.pug 

block content
    section#content
        if error
            h2 Error
        else
            
        form(action="/", method="post")
            label Name Here:
            input(type="text", name="username")
            button(type="submit") Send it